.il-logo img {
    width: 150px;
    margin-left: -5px;
}
.il-pagetitle {
    padding-left: 15px;
}
@media only screen and (max-width: 767px) {
    .il-logo {
        width: 110px;
        padding-left: 10px;
    }
}
.breadcrumb_wrapper .breadcrumb {
    padding-left: 10px;
}